In [58]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [59]:
df = pd.read_csv('churn_data.csv')

In [60]:
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   PhoneService      7043 non-null   object
 3   Contract          7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 495.3+ KB

In [62]:
df['Churn']=df['Churn'].replace({'Yes':1, 'No':0})

In [63]:
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,0
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [64]:
df.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [65]:
cols = ['tenure', 'PhoneService', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges']

In [66]:
X=df[cols]
y=df['Churn']

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [68]:
scale = StandardScaler()
ohe = OneHotEncoder()
logreg = LogisticRegression()

In [71]:
ct = make_column_transformer(
        (ohe, ['Contract', 'PaperlessBilling', 'PaymentMethod', 'PhoneService']),
            (scale, ['tenure', 'MonthlyCharges']),
            remainder='passthrough')

In [72]:
pipe = make_pipeline(ct, logreg)
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['Contract',
                                                   'PaperlessBilling',
                                                   'PaymentMethod',
                                                   'PhoneService']),
                                                 ('standardscaler',
                                                  StandardScaler(),
                                                  ['tenure',
                                                   'MonthlyCharges'])])),
                ('logisticregression', LogisticRegression())])